[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = thekovic
	email = fosskovic@gmail.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[core]
	autocrlf = input
	editor = code --wait
[checkout]
	defaultRemote = origin
[submodule]
	recurse = true
